{
  "extends": [
    "standard",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["react", "prettier", "jsx-a11y"],
  "rules": {
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2,
    "react/react-in-jsx-scope": "error",
    "react/prop-types": "off",
    "prettier/prettier": ["error", { "semi": false }],
    "max-len": ["error", 180]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "globals": {
    "shallow": true,
    "mount": true
  }
}
