version: 2
jobs:
  lint:
    docker:
      - image: circleci/node:8.2.1
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: update yarn
          command: sudo npm install yarn@1.3.2 --global
      - restore_cache:
          keys:
            - v2-dependencies-node_modules-{{ arch }}-{{ checksum "yarn.lock" }}
      - run:
          name: install dependencies
          command: yarn
      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-node_modules-{{ arch }}-{{ checksum "yarn.lock" }}
      - run:
          name: run linters
          command: yarn lint

  staging:
    docker:
      - image: circleci/node:8.2.1
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: update yarn
          command: sudo npm install yarn@1.3.2 --global
      - restore_cache:
          keys:
            - v2-dependencies-node_modules-{{ arch }}-{{ checksum "yarn.lock" }}
      - run:
          name: install dependencies
          command: yarn
      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-node_modules-{{ arch }}-{{ checksum "yarn.lock" }}
      - run:
          name: build site
          command: MYINVESTMENTS_API=$MYINVESTMENTS_STAGING_API yarn build
      - run:
          name: install aws
          command: sudo apt-get update && sudo apt-get install -y awscli
      - run:
          name: upload to s3
          command: aws s3 sync ./dist $STAGING_BUCKET --delete

  production:
    docker:
      - image: circleci/node:8.2.1
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: update yarn
          command: sudo npm install yarn@1.3.2 --global
      - restore_cache:
          keys:
            - v2-dependencies-node_modules-{{ arch }}-{{ checksum "yarn.lock" }}
      - run:
          name: install dependencies
          command: yarn
      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-node_modules-{{ arch }}-{{ checksum "yarn.lock" }}
      - run:
          name: build site
          command: MYINVESTMENTS_API=$MYINVESTMENTS_PRODUCTION_API yarn build
      - run:
          name: install aws
          command: sudo apt-get update && sudo apt-get install -y awscli
      - run:
          name: upload to s3
          command: aws s3 sync ./dist $PRODUCTION_BUNDLE --delete

workflows:
  version: 2
  build:
    jobs:
      - lint

      - staging:
          requires:
            - lint
          filters:
            branches:
              only:
                - master
      - release:
          type: approval
          requires:
            - staging
          filters:
            branches:
              only:
                - master
      - production:
          requires:
            - release
          filters:
            branches:
              only:
                - master